<%= form_tag("/pay/", method: 'post',local:true) do %>
<div id="entries">
  <%=hidden_field_tag :order,@order.id%>
  <%@order.entries.each do |e|%>
  <%#byebug%>
    <div><%=e.product.name%> Amount: <%=e.amount%> Price: <%=e.amount * e.product.price%>
    <%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' },remote:true %></div>

<% end %>
</div>
<%=submit_tag%>
<%end%>
