<%= form_tag("/pay/", method: 'post',local:true) do %>
<div id="entries">
  <%=hidden_field_tag :order,@order.id%>
  <%@order.entries.each do |e|%>
  <%#byebug%>
    <div><%= link_to e.product.name, {controller: 'products',action: 'show', id:e.product.id}, method: :get, class: 'select_cat', :local=>true%> Amount: <%=e.amount%> Price: <%=e.amount * e.product.price%>
    <%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' },remote:true %></div>

<% end %>
</div>
<%=submit_tag%>
<%end%>
