<table>
  <tr><td>
Name: <%=@user.name%>
</td></tr>
<tr><td>
E-mail: <%=@user.email%>
</td></tr>
</table>
Order history:
<table>
<%orders=@user.orders.where(state:3)%>
<%#byebug%>
<%orders.each do |o|%>
  <tr><td>
  Order date: <%=o.updated_at.to_date.to_s%>
  </td></tr>
  <%o.entries.each do |e|%>
    <tr><td>
      <%= link_to e.product.name, {controller: 'products',action: 'show', id:e.product.id}, method: :get, class: 'select_cat', :local=>true%>
      </td><td>Amount:</td><td> <%=e.amount%></td>  <td>Total:</td><td> <%=e.total%></td>
    </tr>
  <% end %>
  <%end%>
</table>
