Name: <%=@user.name%>
<br>
E-mail: <%=@user.email%>
<br>
Order history:
<br>
<%orders=@user.orders.where(completed:true)%>
<%orders.each do |o|%>
<br>
  Order date: <%=o.updated_at.to_date.to_s%>
  <br>
  <%o.entries.each do |e|%>
    <div>
      <%= link_to e.product.name, {controller: 'products',action: 'show', id:e.product.id}, method: :get, class: 'select_cat', :local=>true%>  Amount: <%=e.amount%>  Total: <%=e.total%>
    </div>
  <% end %>
  <%end%>
