<%#filters.each do |ke,ve|%>
<%#filters[ke]=<% custom_fields = CustomFieldsDecorator.new(@post.custom_fields) %>
<%= form_tag("/categories/"+@category.id.to_s+"/filter", method: 'get',remote:true) do %>
  <div style="margin-top:20px;float: left;
  width: 30%;">
  <table>
  <% @filters.each do |filt,v| %>
  <tr>
    <td>
    <%=filt.name%>
    </td>
    </tr>
    <%=hidden_field_tag "search",@search%>

    <%j=0%>
    <%if filt.type=="StringProperty"%>
      <%v.each do |d|%>
        <tr>
          <td>
        <%=d%>
        </td>
        <td>
        <%= check_box_tag "filters["+filt.id.to_s+"][]", d  %>
        </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td>
      <%=number_field_tag "filters["+filt.id.to_s+"][]","min",{min: 0, max: 10000}%>
      </td><td>
      <%=number_field_tag "filters["+filt.id.to_s+"][]","max",{min: 0, max: 10000}%>
      </td></tr>
    <% end %>
  <% end %>

  </table>
  <%=submit_tag%>
  </div>
<% end %>
<div id="filter" style="margin-top:20px;float: left;
  width: 70%;">
<%=render partial:"filter"%>
</div>
