<table>

<tr><td>
<%=@product.name%>
</td></tr><tr><td>
Price:</td><td> <%=@product.price%>
</td></tr>
<%@product.properties.each do |p|%>
<tr><td>
  <%=p.name%>:</td><td> <%=@product.property_values.find_by(property_id:p.id).value%>
  </td></tr>
<%end%>
</table>
<div>
<%= link_to 'Buy', {controller:'orders',action: 'add', product:@product.id}, method: :post, class: 'select_cat', :local => true%>
</div>
