<p id="notice"><%= notice %></p>

<%=form_with(model: @product, local: true) do |form| %>
Product name: <%=form.label :name, :value => @product.name%><br>
Price: <%=form.label :price,:value => @product.price%>
<br>
<% @product.category.properties.each do |p| %>
    <%= form.fields_for "properties[]", p do |pr_field| %>
      <% tmp = @product.property_values.find_by(property:p)%>
      <%#byebug%>
      <%= p.name %>
      <%if tmp.type == "StringValue"%>
        <%= pr_field.label :id, :value => tmp.value %>
      <%else%>
        <%= pr_field.label :id, :value => tmp.value %>
      <% end %>
      <br>
    <% end %>

<% end %>
<%end%>
