<!DOCTYPE html>
<html>
  <head>
    <title>TestWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>

  <body>
    <% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
  <div>
  <%= form_tag('/search/', method: 'get',local:true) do %>
    <%=text_field_tag "search"%>
    <%=submit_tag "Search"%>
  <%end%>
  </div>
    <%= yield %>
  </body>
</html>
